@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body{
  background: #ccc;
}
.box{
  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;  height: 100px;
  z-index: 97;
}
.box .front{
  position: relative;
  width: 100%;  
  height: 100%;
  background: #262626;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: 1s;
}
.box.flip{
  z-index: 99;
}
.box.flip .front{
  transform: perspective(1000px) rotateY(180deg) scale(2.5);

}
.box .back{
  position: absolute;
  top: 0;   left: 0;
  width: 100%;  height: 100%;
  background: #f00;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: 1s;
}
.box.flip .back{
  transform: perspective(1000px) rotateY(0deg) scale(2.5);
}

